</div>
<footer class="blue darken-1 page-footer">
    <div class="container">
        <div class="row left-align">
            <div class="col">
                <h5 class="white-text">Importante: </h5>
                <ol class="grey-text text-lighten-3 flow-text">
                    <!--li><a class="grey-text text-lighten-3" target="_blank" href="documentos/PoliticasDAWEne2018.pdf">Políticas del curso</a></li-->
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.google.com/calendar/selfsched?sstoken=UUF3MW5YVWFuLW1CfGRlZmF1bHR8OTllNzFhMjI2M2NhZTk3MWEwMDIwZjgxNmM1NDhiMDk">Calendario de asesoría en oficina de Lalo</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://rcortesetec.github.io/profile/">Calendario de asesoría en oficina de Ricardo</a></li>
                    <li><a class="grey-text text-lighten-3" href="code_reviews.html">Políticas de revisión de laboratorios.</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://integrity.mit.edu/handbook/writing-code" target="_blank">Guía de integridad académica del MIT</a></li>
                    <!--<li>Usuarios de Bitbucket para compartir repositorios: ejuarez, A01203961 y fervargas94</li>-->
                </ol>
            </div>
        </div>
        <p class="grey-text text-lighten-4">Powered by <a href="http://materializecss.com/" target="_blank" class="white-text text-lighten-4">Materialize</a>.</p>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017-2020 Escuela de Ingeniería y Computación - ITESM Campus Querétaro.
        </div>
    </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</body>

</html>