<form action="index.php" method="post">
    <label>¿Quién crees que es el impostor? </label>
    <?= select("acusador","tripulante") ?>
        <br>
        <label>¿Quién lo acusa? </label>
        <?= select("acusado","tripulante") ?>
            <br>
            <input type="submit" value="¡Acusar!">
</form>