<h2>Edita los datos del impostor <?=$_GET["id"]?></h2>
<form action="update.php" method="post">
    <label>Nombre: </label>
    <input type="hidden" name="id" value="<?=$_GET['id']?>">
    <input type="text" name="nombre" value="<?=$nombre?>">
    <br>
    <input type="submit" value="Guardar">
</form>