<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Impostor</span>
                <p>
                    <?= $respuesta ?>
                </p>
            </div>
            <div class="card-action">
                <a href="index.php">Volver a acusar</a>
            </div>
        </div>
    </div>
</div>

<?php if(isset($_SESSION["archivo"])): ?>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="<?=$_SESSION['archivo']?>" alt="" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                Así luce el impostor.
              </span>
                </div>
            </div>
        </div>
    </div>
    <?php endif; ?>