<nav>
    <div class="nav-wrapper">
        <a href="index.php" class="brand-logo">DAmong Ws</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <?php if (isset($_SESSION["acusacion"])): ?>
                <li><a href="salir.php">Salir</a></li>
                <?php endif; ?>
        </ul>
    </div>
</nav>
<div class="container">

    <?php if(isset($_SESSION["info"])): ?>
        <div class="card-panel">
            <span class="blue-text text-darken-2"><?= $_SESSION["info"]; ?></span>
        </div>
        <?php unset($_SESSION["info"]) ?>
            <?php endif; ?>