<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Vuelve pronto, traidor...</span>
            </div>
            <div class="card-action">
                <a href="index.php">Volver a acusar</a>
            </div>
        </div>
    </div>
</div>